<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script th:src="@{|/js/jquery-1.11.3.min.js|}"></script>
    <script th:src="@{|/js/jquery.md5.js|}"></script>
    <script>
        $(function (){
            $("#loginBut").bind("click",function (){
                var v_md5password = $.md5($("#password").val());
                alert(v_md5password)
                $("#md5Password").val(v_md5password)
                })
        })
    </script>
</head>
<body>
    <form action="login" method="post">
        账号：<input type="text" name="username"><br>
        密码：<input type="password" id="password">
        <input type="text" style="display: none" name="password" id="md5Password">
        <input type="submit" value="登录" id="loginBut">
    </form>
    <span style="color: red" th:text="${errorMessage}"></span>
</body>
</html>







